<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width,initial-scale=1.0">
        <title>Homepage</title>
        <link rel="stylesheet"
        href="style2.css">
    </head>
    <body>
        <div class="home-container">
            <h1>Welcome to the Homepage
                <h2>"We appreciate you visiting us today! How can we make your day even better?"</h2>
            </h1>
            <a href="login.html" class="button">Login</a>
        </div>
    </body>
</html>